/*"StAuth10244: I Samuel Spiers, 000731023 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else."*/
header {
    height: 130vh;
    background-image: url("circuitboard.jpg");
}

#canvas {
    height: 100%;
    width: 100%;
}

body {
    height: 200vh;
    background-image: url("circuitboard.jpg");
}

#profile-header {
    font-family: 'Bungee', sans-serif;
    letter-spacing: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#portrait {
    width: 1.5vw;
}

#profile-text {
    font-family: 'Bungee', sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-size: 1.5vw;
}