/*"StAuth10244: I Samuel Spiers, 000731023 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else."*/
header {
    height: 130vh;
    background-image: url("circuitboard.jpg");
}

#canvas {
    height: 100%;
}

body {
    height: 200vh;
    background-image: url("circuitboard.jpg");
}

.section-header {
    font-family: 'Bungee', sans-serif;
    letter-spacing: 10px;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 1);
    font-size: 6vw;
    text-align: center;
    color: whitesmoke;
}

.portrait-holder {
    max-width: 50%;
}

.profile-text {
    font-family: 'Bungee', sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-size: clamp(12px, 1.9vw, 40px);
}

.gallery-item {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    border: 3px solid red;
    border-radius: 15px;
    margin: auto;
}