/*"StAuth10244: I Samuel Spiers, 000731023 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else."*/
html, body {
    overflow-x: hidden;
}

header {
    height: 130vh;
    background-image: url("circuitboard.jpg");
}

#canvas {
    height: 100%;
}

body {
    height: 200vh;
    background-image: url("circuitboard.jpg");
}

.section-header {
    font-family: 'Bungee', sans-serif;
    letter-spacing: 10px;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 1);
    font-size: 6vw;
    text-align: center;
    color: whitesmoke;
}

.sub-header {
    font-family: 'Bungee', sans-serif;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 1);
    font-size: 4vw;
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
}

.portrait-holder {
    max-width: 50%;
    filter: sepia(50%);
}

.section-text {
    font-family: 'Audiowide', sans-serif;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 1);
    font-size: clamp(12px, 1.9vw, 40px);
    color: whitesmoke;
}

.gallery-item {
    width: 20vw;
    height: 20vw;
    background-color: darkgrey;
    border: 3px solid red;
    border-radius: 15px;
    margin: auto;
    transition: transform 0.2s ease-in-out
}

.gallery-item:hover {
    transform: scale(1.2);
}